<% if @booking.venue.nil? %>

<% else %>
  <div id='venue-booking-dates' class="form-wrapper" data-unavailable="<%= @venue&.unavailable_dates.to_json %>" style="margin: 0 auto;">
    <%= simple_form_for [@booking] do |f| %>
    <%= f.input :start, as: :hidden, input_html: {id:"start", class: "datepicker"} %>
    <%= f.input :end, as: :hidden, input_html: {id:"end", class: "datepicker"} %>
    <%= f.input :venue_id, as: :hidden, :input_html => { value: @booking.venue.nil? ? 0 : @booking.venue.id } %>
    <%= f.submit "Start Booking", class: "btn btn-secondary", style: "width: 100%" %>

    <% end %>
  </div>
<% end %>
