<div class="container d-flex justify-content-center">
  <div class="">.
    <h1 class='text-center mt-4 mb-4'>Booking Confirmation</h1>
    <h3>Venue: <strong><%= @booking.venue.name %></strong></h3>
    <h3>Start Date and Time: <strong><%= @booking.start %></strong></h3>
    <h3>End Date and Time: <strong><%= @booking.end %></strong></h3>
    <h3>Price per hour: <strong><%= @booking.venue.price %> $US</strong></h3>
    <h3>Total price: <strong><%= @booking.price %> $US</strong></h3>
  </div>
</div>
