  <div
    id="map"
    style="width: 100%;
    height: 300px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

<div class="container">


  <h1 class="mt-4">Venues</h1>
  <%= render "shared/filter" %>

  <div class="card-columns">
    <% @venues.each do |venue| %>
      <%= link_to venue_path(venue) do %>
        <div class="card shadow-sm mb-5 bg-white rounded">
          <div class="card-category card-placeholder" style="background-image: url('<%= cl_image_path venue.venue_image %>')">
          </div>
          <div class="card-body" style="height: 200px; overflow: hidden">
            <h5 class="card-title"><%= venue.name %></h5>
            <p class="card-text"><%= venue.description %></p>
          </div>
          <div class="card-footer" style="height: 100px; overflow: hidden">
            <small class="text-muted"> <%= venue.category %> <%= venue.location %>  <i class="fas fa-map-marker-alt"></i></small>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

    <% if @venues == [] %>
      <h2>We are sorry, we have nothing to show, yet</h2>
      <p>Check out another city!</p>
    <% end %>

</div>

