<div class="container-fluid">
    <%= render "venue_slides" %>
</div>
<br>
<div class="container-fluid">
<h1><%= @venue.name %></h1>
<h2><%= @venue.location %></h2>
</div>
</%>
<br>
<div class="container-fluid">
  <div class="row ">
    <div class="col mx-3 shadow p-3 mb-5 bg-lightgrey rounded">
      <%= render "show_map" %>
    </div>

    <div class="col mx-0 shadow p-3 mb-5 bg-lightgrey rounded" >
      <h4>Reserve</h4>
      <%= render "bookings/booking_form" %>
    </div>
    <div class="col mx-3 shadow p-3 mb-5 bg-lightgrey rounded">
      <%= @venue.description %>
      <br>
      <br>
      <%= @venue.capacity %> <i class="fas fa-users"></i> <i class="fas fa-wifi"></i> <i class="fas fa-car"></i>
    </div>
  </div>
</div>
<br>
<br>
<br>

